<footer class="footer">
  <a href="#hero" class="footer__button" 
    ><img src="./assets/images/ico-arrow (1).svg" alt="Vuelta al cole"
  /></a>
  <nav class="footer__menu">
    <ul class="footer__menu--listone">
      <li><a href="https://adalab.es.">ZAPATILLAS</a></li>
      <li><a href="https://adalab.es.">ROPA</a></li>
      <li><a href="https://adalab.es.">NIÑO/A</a></li>
      <li><a href="https://adalab.es.">TIPS</a></li>
    </ul>
    <ul class="footer__menu--listtwo">
      <li><a href="https://adalab.es.">TWITTER</a></li>
      <li><a href="https://adalab.es.">INSTAGRAM</a></li>
      <li><a href="https://adalab.es.">YOUTUBE</a></li>
    </ul>
    <p class="footer__menu--copy" href="">
      ©2023 we <span class="heart"> &#10084;</span> run
    </p>
  </nav>
</footer>
